/* your styles go here */

#navigation {
	position: fixed;
	width: 100%;
	text-align: right;
	background-color: #4b2e83;
	padding-left: 10em;
	padding-right: 10em;
	right: 0;
}

#portfolio {
	background-color: #999999;
}

h1 > a, h1 > a:link, h1 > a:visited, h1 > a:hover, a:active, a:hover {
	color:#4b2e83;
	text-decoration: none;
}

section#portfolio.section--no-padding-bottom {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-bottom: 100px;
	padding-top: 0px;
	margin-top:-20px;
}

section.blog-post {
	padding-bottom: 0px;
}

.sponsorship-type {
	padding-bottom: 40px;
}

.container-fluid {
	vertical-align: middle;
}
